#title {
    font-size: 2.5vh;
}

.ans {
    font-size: 2vh;
}

.correctness {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
}

.correcting {
    font-size: 8vh;
    border-radius: 1vh;
    background-color: whitesmoke;
    width: 50vh;
    margin: auto;
}